include Socials

mixin Footer
  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__logo">
          <img class="footer__logo-image" src="assets/img/sit down-logo.png" width="145" height="40" loading="lazy" alt="sit down" />
        </div>
        <div class="footer__lang">Lang switcher</div>
      </div>
      <div class="footer__main">Main menu</div>
      <div class="footer__bottom">
        <div class="footer__bottom-main">
          <div class="footer__copyright">&copy; 2024 sit down. Всі права захищені.</div>
          <ul class="footer__add-menu">
            <li class="footer__add-menu-item">
              <a class="footer__add-menu-link" href="/privacy.html">Політика конфіденційності</a>
            </li>
            <li class="footer__add-menu-item">
              <a class="footer__add-menu-link" href="/public-offer.html">Публічна оферта</a>
            </li>
            <li class="footer__add-menu-item">
              <a class="footer__add-menu-link" href="/api.html">API</a>
            </li>
          </ul>
        </div>
        <div class="footer__bottom-aside">
          +Socials
        </div>
      </div>
    </div>
  </footer>
