@import 'variables'
@import 'mixins'

h1, h2, h3, h4, h5, h6
	font-family: $secondFont
	font-weight: bold

h1
	margin: 0 0 toRem(40)
	font-size: toRem(48)
	line-height: 1.16

h2
	margin: 0 0 toRem(20)
	font-size: toRem(40)
	line-height: 1.2

h3
	margin: 0 0 toRem(20)
	font-size: toRem(32)
	line-height: 1.18

h4
	margin: 0 0 toRem(16)
	font-size: toRem(20)
	line-height: 1.2

h5
	margin: 0 0 toRem(16)
	font-size: toRem(18)
	line-height: 1.2

a
	transition: 0.3s color ease-in-out

strong
	font-weight: 600

p
	margin: 0 0 toRem(25)

img
	display: block
	width: 100%
	object-fit: cover
